body {height:100%;width:100%;margin:0;padding:0;overflow:hidden;font-family: Helvetica, Arial, sans-serif;font-size:12px;font-weight:100;color: #706F6F;background-color: #EEEBE5;}

#container {width:100%;	height:100%;position:absolute;top:0;left:0;overflow:hidden;}

a, a:hover, a:visited, a:active {color:inherit;text-decoration:none;z-index: 1000;}
p {font-size: 1em;line-height: 1.2; letter-spacing: 0.1em;margin: 10px 25px;}

#menuWrapper {z-index: 1000;width: 120px;left: 65px; top: 0;position: fixed;color: #1D1D1D;}
#menuLogo {height: 335px;background-color: #FDC400; position: relative;}
#menuLogo h1 {text-transform:uppercase;font-weight:600;font-size:1.1em;line-height:1.2;	margin-top:25px;}
#menu li {width:90px;list-style:none;margin:10px 0 10px;background-color:#ffffff;text-transform:uppercase;font-size:0.9em;line-height:1.2;padding:5px 15px 2px;}

#beta {background-color: #FDC400; width: 120px; height: 40px; clear: both; left:65px; bottom: 0; position: fixed;}
#beta h1 {text-transform:uppercase;font-weight:600;font-size:1.1em;line-height:1.2;	margin-top:15px; margin-left: 40px;}

#contentWrapper {margin:0 auto;position:relative;}

.selected {font-weight:700;}
.clear {clear:both;}
.title {background-color:#ffffff;width:130px;float:right;margin-bottom:10px;padding:5px 5px 5px 10px;font-size:1.3em;font-weight:500;text-transform:uppercase;clear: both;}
.left {width: 300px;height: 450px;margin-right: 10px;border: 5px solid #ffffff;float: left;clear: both;}
.right {width: 270px;height: 455px;margin-left: 10px;border-top: 5px solid #FBB800;float: left;background-color: #ffffff;}
.right p a{text-decoration: underline;}
.item {width:100%;height:100%;float:left;margin:0 auto;}
.content {width:600px;height:500px;position:relative;margin:5% auto;}
.journey {z-index:1; color:#FF5252;text-transform: uppercase;position: relative;}

#welcome {position:relative;}
#welcome .content {width: 700px; height: 600px;}
#welcome p {text-transform:uppercase;color:#E42313;padding-left:500px;margin-top: -30px;}

#ourStory {margin-top:50px;margin-left:1150px;position:relative;}
#ourStory .right h1{font-weight: 500;font-size: 1.5em;line-height: 1.2;letter-spacing: 0.1em;margin: 15px 15px 15px 25px;color: #B2B2B2;}

#whyDali {margin-left: 2150px; margin-top: -230px;position: relative;}
#whyDali .right h1 {font-weight: 500;font-size: 1.7em;line-height: 1.2;letter-spacing: 0.1em;margin: 15px 25px;color: #B2B2B2;}

#daliMoment {margin-left: 2400px; margin-top: 300px; position: relative;}
#daliMoment .right h1 {font-weight: 500;font-size: 1.7em;line-height: 1.2;letter-spacing: 0.1em;margin: 15px 25px;color: #B2B2B2;}
/*#daliMoment #daliMomentSlider img {margin-left: 50px; margin-top: 25px;}*/

#ourHeritage {margin-left:1400px;margin-top:70px;position: relative;}

#products {margin-left:430px; margin-top:-250px;  position:relative;}
#products .left {width: 340px; height: 450px; margin-right:10px; border:0; background-color:#F4F0EE;}
#products .right {width: 250px;margin:0; border:0;	background: none;}
#products #title {color: #ffffff; text-transform:uppercase; padding: 10px 25px;margin-bottom: 10px;font-size: 1.5em;font-weight: 600;letter-spacing: 2px;}
#products .copy h1 {padding: 25px 25px 0;font-style: italic;font-size: 1.3em;}
#products .copy h2 {padding: 5px 25px 0;font-style: italic;font-size: 1.3em;}
#products p {margin: 0 0 10px 0}

#contact {margin-left: 1500px; margin-top: -90px; margin-bottom:100px; position: relative;}
#contact .left {background-color:#ffffff;}
#contact .right h1{font-weight: 500;font-size: 1.7em;line-height: 1.2;letter-spacing: 0.1em;margin: 15px 0 15px 25px;color: #B2B2B2;}

.bx-prev{margin-left: 480px;margin-top: -30px;position: absolute;}
.bx-next {margin-left: 550px;position: absolute;margin-top: -30px;}
.bx-pager.bx-default-pager {z-index: 1000;}
#ourStory ul, #heritageSlider ul {margin: 10px 25px;}
ul li {margin-bottom: 5px;}
#ourStory ul li b{font-weight: bold;}
i {font-style: italic;}
b {font-weight: bold;}
.overflow-scroll {overflow: scroll;}
.bullet li{margin-left: 10px;position: relative;}
.bullet li:before{
	content: '•';
	position: absolute;
	left: -10px;
}
.tick {
	position: relative;
	margin-left: 20px!important;
}
.tick:before{
	content: '\2713';
    position: absolute;
    left: -15px;
}
.ml550 {
	margin-left: 550px;
}

.desktop-hide {
	display: none;
}

#menu ul li a {
	font-weight: 400;
}
#menu ul li a.selected { 
	font-weight: 700;
}

.nav_text {
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    bottom: 0px;
    padding: 10px;
    font-weight: 400;
}

.award-container {
	position: absolute;
	right: calc(100% + 10px); 
	bottom: 0;
}

.award-container img{
	width: 100px;
}

@media (max-width: 736px) {
	.award-container {
		right: unset;
		left: 0;
		display: flex;
		flex-direction: column;
	}
	.nav_text {
	    font-size: 10px;
	    line-height: 12px;
    	padding: 5px 10px;
	}
	#menuWrapper {
	    left: 0;
	    width: 100px;
	}
	#menu li {
		width: 60px;
	    margin: 10px 0;
	    padding: 5px 20px;
	}
	#menuLogo {
		height: unset;
	}
	#welcome .content {
	    height: 100vh;
	    margin: unset;
	    width: unset;
	}
	#welcome .content img{
	    width: calc(100% - 40px);
	    left: 65px;
	    top: 40%;
	    position: absolute;
	    transform: translateY(-50%);
	}

	.content {
	    width: 100vw;
	    height: 100vh;
	    margin-top: 0;
	}
	.overflow-container {
	    overflow: scroll;
	    padding-top: 100px;
	    width: 100%;
	    height: calc(85% - 100px);
	    padding-bottom: 100px;
	}
	.overflow-container.no-pt {
		padding-top: 0;
		height: 100%;
	}
	.right,
	.left {
		width: calc(100% - 100px)!important;
		position: relative;
		left: 100px;
		border: 0;
		margin-left: 0;
		height: unset;
		margin-right: 0;
		overflow: hidden;
	} 
	.right img,
	.left img {
		width: 100%;
	}
	img.nofullwidth {
		width: auto!important;
	}
	.ml100 {
		margin-left: 100px;
	}
	.mobile-hide {
		display: none;
	}
	.desktop-hide {
		display: block;
	}
	.bx-wrapper .bx-pager {
	    padding-top: 0px!important;
	    bottom: -15px!important;
	}
	.bx-wrapper .bx-viewport {
		box-shadow: none!important;
		border: 0!important;
		background: unset!important;
		left: unset!important;
	}

	#welcome p.start {
		padding-left: 0;
		margin-top: 0;
		position: absolute;
	    bottom: 25%;
	    left: 50%;
	}

	.bx-wrapper .bx-pager {
	    top: 58vh!important;
	    left: 14%;
	    height: 10px;
	}

	#daliMoment .bx-wrapper .bx-pager {
		bottom: 0%!important;
		top: unset!important;
	}

	#products .bx-wrapper .bx-pager {
		top: 430px!important;
	}

	.bx-wrapper {
		overflow: hidden;
	    width: 100%;
	}

	#ourHeritage .right {
		padding-top: 20px;
	}

	.mobile-start {
		position: relative;
	}

	.mobile-start::after {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: #E42313;
		border-radius: 50px;
		top: calc(100% + 10px);
	    left: 50%;
	}
}
